**/build/
!src/**/build/

gradle-app.setting

!gradle-wrapper.jar

.gradletasknamecache

.idea/workspace.xml
.gradle/4.10.3/fileHashes/fileHashes.bin
.gradle/
.idea

*.lock
*.bin

# # Work around https://youtrack.jetbrains.com/issue/IDEA-116898
# gradle/wrapper/gradle-wrapper.properties