<!DOCTYPE suite SYSTEM "https://testng.org/testng-1.0.dtd" >

<suite name="Suite1" verbose="1" >
    <test name="Test_3" >
        <classes>
            <class name="step.by.step.LoginTest" />
        </classes>
    </test>
    <test name="Test_4" >
        <classes>
            <class name="step.by.step.MakeBoLWithGC2" />
        </classes>
    </test>

</suite>